In [59]:
import pandas as pd
import numpy as np
from sklearn import tree 
import graphviz
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [60]:
def carregaData():

        data = pd.read_excel('/home/illamelo/√Årea de Trabalho/Data Mining/Trabalho final/titanic3.xls')
        return data

In [61]:
def trataDados(data):

    bodyMediana = data.body.mean()
    data.fillna(bodyMediana, inplace = True)
    ageMediana = data.age.mean()
    data.fillna(ageMediana, inplace=True)
    data['sex'] = data['sex'].map({'female': 0, 'male': 1}).astype(int)
    return data

In [78]:

def dividirBase(mdata):
    Y = mdata['sex']
    X = mdata[['survived','pclass']]
  
    X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state = 0)
    
    return X, Y, X_train, X_test, y_train, y_test

In [79]:
def treinarModelo(X_train, y_train):
    clf = tree.DecisionTreeClassifier(criterion = "gini", max_depth = None)
    clf.fit(X_train, y_train)
    
    return clf

In [80]:
def dataPredicao(X_test, clf):
    print("Valores previstos: ", clf.predict(X_test))
    return clf.predict(X_test)

In [81]:
def Acuracia(y_test, pred):
    print(metrics.confusion_matrix(y_test, pred))
    print(metrics.accuracy_score(y_test, pred))

In [82]:
def ArvoreViz(clf, X, Y):
    dot_data = tree.export_graphviz(clf, out_file=None, 
                                    feature_names=['survived','pclass'],
                                    class_names=['female','male'],
                                    filled=True)


    graph = graphviz.Source(dot_data, format="png") 
    graph
    graph.render("decision_tree_graphivz")

In [83]:
trataDados(carregaData()).head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",0,29.0000,0,0,24160,211.3375,B5,S,2,160.809917,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",1,0.9167,1,2,113781,151.5500,C22 C26,S,11,160.809917,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",0,2.0000,1,2,113781,151.5500,C22 C26,S,160.809917,160.809917,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",1,30.0000,1,2,113781,151.5500,C22 C26,S,160.809917,135.000000,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",0,25.0000,1,2,113781,151.5500,C22 C26,S,160.809917,160.809917,"Montreal, PQ / Chesterville, ON"

In [84]:
def main():
    data = carregaData()
    mdata = trataDados(data)
    X, Y, X_train, X_test, y_train, y_test = dividirBase(mdata)
    clf = treinarModelo(X_train, y_train)
    pred = dataPredicao(X_test, clf)
    Acuracia(y_test, pred)
    ArvoreViz(clf, X, Y)

In [85]:
main()

Valores previstos:  [1 0 1 1 1 0 0 0 1 0 1 1 0 0 0 1 0 0 0 1 1 1 1 0 1 0 0 1 1 1 0 0 0 1 0 1 1
 1 1 1 1 1 1 0 1 1 1 0 0 1 0 0 1 1 1 1 0 1 0 0 1 1 1 0 1 1 1 1 1 1 0 1 0 1
 1 0 1 0 1 0 1 0 1 0 0 0 1 1 1 0 1 1 1 1 1 1 0 0 1 0 1 1 0 1 0 1 0 1 1 1 1
 0 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 0 1 1 1 1 0 0 1 1 1 1 1 1 0 1 1 1 0 0 1
 0 1 1 1 0 0 0 1 0 0 1 1 1 1 1 0 1 0 1 1 1 1 1 1 0 1 0 1 1 0 0 0 0 1 1 1 1
 1 0 0 1 1 1 1 0 1 0 0 1 0 1 1 1 1 1 0 1 1 1 0 1 1 0 0 1 1 0 1 1 1 1 0 0 0
 0 0 0 1 0 0 0 0 0 1 1 1 1 1 0 1 1 0 1 0 1 0 0 0 1 0 0 1 1 1 0 1 0 1 0 1 1
 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 0 0 0 1 1 1 1 1 1 1 1 1 1 0 0 0 1 0 1 0 1
 0 1 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1 0 1 1 1 0 1 0 0 1 1 1 0 1 0 1 1 1 0 1 1
 0 1 0 1 0 0 1 0 1 0 0 0 1 1 0 1 1 0 0 1 0 1 1 0 0 1 1 1 1 1 1 0 0 0 0 1 1
 0 1 0 1 1 0 1 1 1 1 1 1 1 1 1 0 0 1 1 0 0 1 0]
[[ 95  36]
 [ 52 210]]
0.7760814249363868